app = "rale-snake"
primary_region = "eze"

[build]
  builder = "heroku/builder:24"

[env]
  NODE_ENV = "production"

[processes]
  web = "npm start"

[http_service]
auto_start_machines = true
auto_stop_machines = true
force_https = true
internal_port = 3_000
min_machines_running = 0
processes = [ "web" ]

[[mounts]]
destination = "/data"
source = "rale_snake_db"

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "1gb"
memory_mb = 1_024