@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    min-height: 100vh;
    background-color: #161616;
    color: #F0F0F0;
    font-family: 'Press Start 2P', cursive;
    padding: 0;
}

#main-container {
    width: 100vw;
    padding: 40px;
    margin: 0;
    gap: 40px;
    display: flex;
    justify-content: space-between;
}

#game-container {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff99;    
}

#canvas-wrapper {
    width: 860px;
    height: 660px;
    margin: 0 auto;
    position: relative;
}

canvas {
    background-color: #111;
}

#scoreboard {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 800px;
    margin: 10px auto;
    font-size: 1.2rem;
    color: #00ff99;
}

#score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.side-panel {
    min-width: 360px;
    max-width: 20%;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ff99;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-panel h2 {
    color: #00ff99;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.side-panel select {
    background-color: #111;
    border: 1px solid #00ff99;
    color: #F0F0F0;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9rem;
    text-align: center;
}

.side-panel input {
    width: 100%;
    padding: 10px;
    background-color: #111;
    border: 1px solid #00ff99;
    color: #F0F0F0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.side-panel input:hover {
    background-color: #333;
    box-shadow: 0 0 10px #00ff99;
}

.side-panel input:focus {
    outline: none;
    box-shadow: 0 0 20px #00ff99;
}

.side-panel button {
    width: 100%;
    padding: 12px;
    background-color: #111;
    border: 1px solid #00ff99;
    color: #00ff99;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.side-panel button:hover {
    background-color: #333;
    box-shadow: 0 0 10px #00ff99;
}

.side-panel h3 {
    color: #00ff99;
    text-align: center;
    border-bottom: 2px solid #00ff99;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.side-panel .room {
    background-color: rgba(0, 116, 217, 0.2);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.side-panel .room .room-name {
    font-size: 1rem;
}

.side-panel .room .room-players {
    font-size: 0.9rem;
    color: #AAAAAA;
}

.side-panel .room button {
    width: auto;
    background-color: #111;
    border: 1px solid #00ff99;
    color: #00ff99;
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
}

.side-panel .room button:hover {
    border-color: #00ff99;
    box-shadow: 0 0 10px #00ff99;
}

.side-panel #rooms .room {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#room-actions {
    margin-bottom: 20px;
}

#room-configs {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

#current-room-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player-in-room {
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
    color: #00ff99;
    text-align: center;
    margin-bottom: 40px;
}

.hidden {
    display: none !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
}

.overlay h2 {
    color: #00ff99;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.overlay p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #FFFFFF;
}

#timeSelection {
    margin-bottom: 20px;
}

.time-btn {
    background-color: transparent;
    color: #00ff99;
    border: 2px solid #00ff99;
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.2s ease;
}

.time-btn:hover, .time-btn.selected {
    background-color: #00ff99;
    color: #FFFFFF;
    box-shadow: 0 0 10px #00ff99;
}

#startGameButton, #restartButton {
    background-color: #111;
    color: #00ff99;
    border: 2px solid #00ff99;
    padding: 15px 30px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

#startGameButton:hover, #restartButton:hover {
    box-shadow: 0 0 20px #00ff99;
}

#startGameButton:disabled {
    background-color: #888888;
    color: #cccccc;
    cursor: not-allowed;
    border-color: #555555;
}

#waitingMessage {
    margin-top: 20px;
    font-size: 1rem;
    color: #00ff99;
}
